.idea
.vscode
.DS_Store
.env
__pycache__/
.ipynb_checkpoints/
*.pdf
*.wav
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.iws
*.iml
*.ipr
*.exe
*.zip
*.tgz
*.tar
*.npy
*.fif
*.xes
*.feather

vm/
val/
logs/
data/
venv/
wandb/
train/
secret/
.env
dataset/
__pycache__/
.pytest_cache/
dataset_small/
catboost_info/
lightning_logs/

build/

node_modules/
package-lock.json

!.gitkeep
